openapi: 3.0.3
info:
  title: Cargo Pilot Analyzer API
  description: >-
    An API for uploading data to the online instance of Cargo Pilot
  version: 1.0.0
  contact:
    name: name
    email: mail@domain.com
servers:
  - url: https://cargo-pilot.de/api/analyzer
  - url: http://cp-analyzer:5000

#security:
#  - ApiKeyAuth: []

paths:
  /upload:
    post:
      tags:
        - Trip
      description: "Upload trips to the Cargo Pilot instance"
      requestBody:
        description: A list of available models
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TripCollection"
        required: true
      responses:
        "200":
          description: Successful operation
  /cluster:
    get:
      tags:
        - "Commands"
      description: "Trigger the clustering of all locations"
      responses:
        "200":
          description: Successful operation
  /cluster-orders:
    post:
      tags:
        - "Cluster"
      description: Get clusters of orders
      requestBody:
        description: "Cluster time range"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ClusterOrderConfig"
      responses:
        "200":
          description: Successful operation

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
  schemas:
    TripCollection:
      type: object
      properties:
        trips:
          type: array
          items:
            $ref: "#/components/schemas/Trip"

    Trip:
      type: object
      properties:
        type:
          type: string
          enum:
            - standstill
            - driving
            - preparing_to_depart
            - traffic_jam
            - fuelling
            - preparing
            - connect
            - disconnect
            - inspection
            - loading
            - unloading
            - break
            - resting
            - ferry_train
            - report
            - waiting
            - garage
        origin:
          $ref: "#/components/schemas/Waypoint"
        destination:
          $ref: "#/components/schemas/Waypoint"
        load:
          $ref: "#/components/schemas/Load"
        source:
          type: string
        vehicle_id:
          type: string
        customer_id:
          type: string
        route_waypoints:
          type: array
          items:
            $ref: "#/components/schemas/Waypoint"

    Load:
      type: object
      properties:
        weight:
          type: integer
          format: float
        loading_meter:
          type: integer
          format: float
        capacity_percentage:
          type: integer
          format: float
          example: 12.6
          description: Load in percent

    Waypoint:
      type: object
      properties:
        lat:
          type: integer
          format: float
          example: 49.43534
        long:
          type: integer
          format: float
          example: 8.34633
        timestamp:
          type: integer
          format: int32
          example: 1689435073

    ClusterOrderConfig:
      type: object
      required:
        - start_timestamp
        - end_timestamp
        - eps
        - min_samples
      properties:
        start_timestamp:
          type: integer
          format: int32
          example: 1689435073
        end_timestamp:
          type: integer
          format: int32
          example: 1689435073
        eps:
          type: number
          format: float
          example: 0.01
        min_samples:
          type: integer
          format: int32
          example: 5